<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance de Movimientos</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <!-- Botón de modo oscuro/claro -->
  <div id="theme-toggle" class="theme-toggle">
    <i class="fas fa-sun"></i> <!-- Ícono del sol (modo claro) -->
    <i class="fas fa-moon"></i> <!-- Ícono de la luna (modo oscuro) -->
  </div>